/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #b88989;
    justify-content: center;
    align-items: center;
    margin: 0;
}
nav > ul {
    padding: 10px;
    list-style: none;
    background-color: #dae0a3c7;
}
nav > ul > li {
    display: inline-block;
    padding: 10px;
    position: relative;
}

nav > ul > li > a {
    display: inline-block;
    color: #000;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav > ul > li > a:hover {
    text-decoration: underline, bold;
    font-size: 1.5em;
    color: #000000;
    background-color: #649ad3;
}

.form-container {
    background-color: #dfe1d1;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 200px;

}

.registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.registration-form input[type="text"]:hover,
.registration-form input[type="email"]:hover,
.registration-form input[type="password"]:hover {
    border-color: #4CAF50;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, font-weight 0.3s;
}

.registration-form button:hover {
    background-color: #45a049;
    font-weight: bold;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.schedule-table th {
    background-color: #488ad2;
    font-weight: bold;
}

.schedule-table tr:nth-child(even) {
    background-color: #7da7d4;
}

.schedule-table tr:nth-child(odd) {
    background-color: #a6bad0;
}